:root {
  --default-color: rgb(40, 41, 41);
  --primary-color: rgb(69, 37, 164);
  --primary-font-color: white;
  --secondary-color: rgb(245, 51, 148);
  --opacity-lightness: 80%;
  --accent-color: rgb(69, 210, 242);
  --ghost-font-color: rgb(40, 41, 41);
  --link-font-color: rgb(69, 37, 164);
  --link-color-none: 0%;
  --footer-background: rgb(40, 41, 41);
  --footer-h3: rgb(191, 188, 188);
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

hr {
  margin-top: 5rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

pre {
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 0.8rem;
  border-radius: 3px;
  width: fit-content;
}

article {
  margin: 2rem;
}

section {
  margin-top: 5rem;
  margin-left: 10rem;
}

button {
  border-radius: 12px;
  padding: 1rem;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
  margin-bottom: 2rem;
}

div {
  border-radius: 14px;
  padding: 0.3rem;
  border: none;
}

html {
  font-family: sans-serif;
}
